<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>253885942722-6nq55ebc56f43hs6fe5vgdm7k6gaqs2s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253885942722-6nq55ebc56f43hs6fe5vgdm7k6gaqs2s</string>
	<key>GCM_SENDER_ID</key>
	<string>253885942722</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.pikachu987.Search</string>
	<key>PROJECT_ID</key>
	<string>search-f71c9</string>
	<key>STORAGE_BUCKET</key>
	<string>search-f71c9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:253885942722:ios:47477b44911f7e74</string>
	<key>DATABASE_URL</key>
	<string>https://search-f71c9.firebaseio.com</string>
</dict>
</plist>